<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="vendor/hh_autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
<testsuite name='Tests'>
    <directory suffix='.hh'>./tests</directory>
</testsuite>
<filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".hh">./src</directory>
    </whitelist>
</filter>
</phpunit>
